<div class="container">
  <div [hidden]="submitted">
    <h1>Delete Person By Id</h1>
    <form (ngSubmit)="deletePersonById(id.value)" #hero1Form="ngForm">
      <div class="form-group">
        <label for="name">Enter PersonId to Delete</label>
        <input type="text" class="form-control"
               required
              [(ngModel)]="personId" name="personId" value="personId" #id>
      </div>
     <button type="submit" class="btn btn-success" [disabled]=hero1Form.invalid>Delete Person</button> 
